body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: green;
}

.container {
  text-align: center;
  padding: 3%;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header, .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  height: 120px;
}

a {
  text-decoration: none;
  color: green;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px green solid;
  padding: 4%;
  align-self: center;
  height: 250px;
  width: 400px;
  
}

button {
  background-color: burlywood;
  align-self: center;
  font-size: medium;
  font-weight: bold;
  padding: 2%;
  color: green;
  border-color: green;
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.img {
  max-width: 100%;
  width: 80%;
}

.card {
  max-width: 30%;
}

@media screen and (max-width: 650px) {
  .card {
    max-width: 80%;
  }
  .content {
    flex-direction: column;
  }
}