
body {
  margin: 0;
  font-family: "Segoe UI",Tahoma,Verdana,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  line-height: 1.5;
}

.container {
  max-width: 1700px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  max-width: 100%;
  width: 100%;
}

.img-small {
  max-width: 30%;
  width: 100%
}

.card {
  margin: 3%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 3%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 1%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.btn, .ext-btn  {
  padding: 2%;
  background-color: #03a8bb;
}


button:hover {
  transform: scale(1.1);
  transition: 0.5 ease-in;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.small-text {
  color:rgb(83, 79, 79);
  font-style: italic;
}

/*Header & footer*/
header, footer {
  background-color: #03a8bb;
}

header .container,
footer .container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 20px;
  min-height: 150px;
}

footer a:hover, 
header a:hover {
  color: black;
  font-weight: bold;
  transition: 0.35s ease 0s;
  transform: scale(1.2);
}

.foot {
  width: 33%;
}
.social-links {
  display: flex;
  justify-content: space-around;
  margin: 0% 2%
}

/*Modal*/
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 98;
}

.modal {
  position: relative;
  z-index: 99;
  width: 80%;
  max-width: 100%;
  max-height: 80%;
  margin: auto;
  color: rgba(0, 0, 0, 0.8);

}

.modal-close {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 0;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 48px;
}

.modal-body {
  padding: 20%;
  border-radius: 4px;
  border: 2px black solid;
  text-align: center;
  background-color: rgba(0, 3, 168, 0.8);
  color: white;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.2rem
}

/*Home*/

.section__me {
  max-width: 90%;
  width: 100%;
}

.me-content {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 3% 5%;
  border-bottom-left-radius: 1%;
  border-top-left-radius: 1%;
}

.img-me {
  border-radius: 30%;
  max-width: 250px;
}

.woman {
  border-radius: 50%;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.readMore{
  font-style: italic;
  font-size: small;
  color: #03a8bb;
}

.moreHide{
  height: 200px;
  overflow: hidden;
}

.expand {
  height: unset;
  overflow: visible;
}

/*About*/
.section__facts {
  flex-direction: row;
  max-width: 55%;
  width: 100%;
}

.section__facts-content {
  width: 60%;
  line-height: normal;
}

.section__facts-img {
  width: 40%;
  align-self: center;
  padding-left: 1%;
}

.about {
  max-width: 100%;
  width: 100%;
  display: flex;
}

.section__fun-fact {
  justify-content: space-between;
}

.fun-fact, .more {
  max-width: 40%;
  width: 100%;
}

.section__more {
  justify-content: center;
}

.section__qualities {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.qual {
  width: 350px;
  height: 320px;
  margin: 0;
  padding: 0 2%;   
}

.qualities-1, .qualities-3{
  transform: rotateZ(5deg);
}

.qualities-2{
  transform: rotateZ(-5deg);
}

/*Contact*/


.section__contact {
  height: 600px;
  width: 350px;
  background-color: white;
  padding: 2%;
  color: black;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

input {
    width: 280px;
    margin: 1%;
}

.form-btn {
  margin: 15px 0
 }

.submitMessage {
  width: 350px;
  height: 150px;
  overflow: auto;
  font-size: small;
  border: 1px black solid;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
}


.contact-social  {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


/*Media*/
@media screen and (max-width:900px) {
  /*Footer*/
  .social-links {
    flex-direction: column;
    min-height: 110px;
    max-width: 150px;
    width: 33%;
  }
  .contact-social  {
    align-items: center;
  }
  /*Modal*/
  .modal-close {
    font-size: 32px;
    top: 35px;
    right: 35px;
  }

  /*About*/
  .section__facts {
    max-width: 70%;
  }
}



@media screen and (max-width:600px)  {
  /*General*/
  .card {
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
  }
  .img-small {
    max-width: 70%;
    width: 100%;
  }

  /*Header & Footer*/
  .homelink {
    transform: scale(0.8);
    order: -1
  }
  .header .container, 
  .footer .container {
    flex-direction: column;
  }
  .foot, .social-links {
    transform: scale(1.3);
    padding: 10%;
  }
  /*Modal*/
  .modal-close {
    font-size: 20px;
    top: 25px;
    right: 25px;
  }
  
  
  /*Home*/
  .me-content {
    max-width: 100%;
    border-radius: 1%;
  }
  .me-content-img {
    align-self: center;
  }
  
  /*About*/
  .section__facts-content {
    width: 100%;
  }
  .section__facts-img {
    width: 70%;
    align-self: center;
  }
  .about, .section__facts {
    flex-direction: column;
    align-items: center;
  }
  .qualities-1, .qualities-3{
    transform: rotateZ(3deg);
  }
  .qualities-2 {
    transform: rotateZ(-3deg);
    padding-bottom: 5%;
  }
  .more, .fun-fact, .qual{
    height: fit-content;
  }
  /*Contact*/
  input {
    width: 80%;
  }
  .section__contact {
    height: 800px;
  }
}
